{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 110,
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "endOfLine": "lf"
}
